<form action="<%= PagSeguro.gateway_url %>" class="pagseguro" method="post">
	<div>
		<%= hidden_field_tag "charset", "UTF-8"  %>
		<%= hidden_field_tag "email", options.fetch(:email, PagSeguro.config["email"])  %>
		<%= hidden_field_tag "token", options.fetch(:token, PagSeguro.config["authenticity_token"])  %>
		<%= hidden_field_tag "currency", "BRL" %>
		<%= hidden_field_tag "reference", order.reference %>

		<%= hidden_field_tag "shippingType", order.shipping_type if order.shipping_type %>
		<%= hidden_field_tag "redirectURL", order.redirect_url if order.redirect_url %>
		<%= hidden_field_tag "extraAmount", order.extra_amount if order.extra_amount %>
		<%= hidden_field_tag "maxUses", order.max_uses if order.max_uses %>
		<%= hidden_field_tag "maxAge", order.max_age if order.max_age %>

		<% order.products.each_with_index do |product, i| %>
			<% i += 1 %>
			<%= hidden_field_tag "itemId#{i}", product[:reference] %>
			<%= hidden_field_tag "itemDescription#{i}", product[:description] %>
			<%= hidden_field_tag "itemAmount#{i}", product[:amount] %>
			<%= hidden_field_tag "itemQuantity#{i}", product[:quantity] %>
			<%= hidden_field_tag "itemShippingCost#{i}", product[:shipping] if product[:shipping] %>
			<%= hidden_field_tag "itemWeight#{i}", product[:weight] if product[:shipping] %>
		<% end %>

		<% order.billing.each do |name, value| %>
			<%= hidden_field_tag PagSeguro::Order::BILLING_MAPPING[name.to_sym], value %>
		<% end %>

		<%= submit_tag options[:submit] %>
	</div>
</form>

